/* Universal styles */
/* Containers */
.width-60{
  width: 56%;
  padding: 2rem 0.5rem 2rem 1.5rem;
}
.width-40{
  width: 36%;
  padding: 2rem 1.5rem;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header .flex-container.desktop,  /* desktop version of header */
footer.flex-container {          /* desktop version of footer */
  justify-content: space-between;
  align-items: center;
}
.flex-container .width-40{
  flex-direction: column;
}
.flex-container .text-container{
  flex-direction: column;
}
.grid-structure {
  padding: 0 2.5rem 0 4.5rem;
}
.info-container{
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%
}
.info-container:first-child{
  padding-top: 0;
}
.image-container img{
  max-width: 100%;
}
.video-container video{
  max-width: 100%;
}
.info-container .image-container{
  max-width: 35%;
}
.info-container .text-container{
  max-width: 65%;
  padding-left: 1rem;
}
.mobile{
  display: none;
}
/* Fonts and text*/
html{
  font-size: 16px;
  font-family: Helvetica;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
  margin: 2rem 0;
}
.section-header{
  text-align: center;
}
h3{
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
h4{
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
p{
  margin-bottom: 1.5rem;
}
strong{
  font-weight: bold;
}
.text-container a{
  color: blue;
  text-decoration: none;
}
/* Force line break in flex-boxes */
h1,
h2,
h3,
h4,
p,
.text-container a{
  width: 100%;
}
/* Navigation bars in header and footer */
nav ul {
  display: flex;
  justify-content: space-between;
}
nav li{
  padding-left: 1rem;
  margin: auto;
}
nav a{
  color: inherit;
  text-decoration: none;
  display: block;
  margin: auto;
}

/* Header section */
header {
  height: 4rem;
  padding: 0 1.5rem;
}
header a.flex-container{
  align-items: center;
}
header a{
  text-decoration: none;
  color: inherit;
}
header span{
  text-transform: uppercase;
  max-height: 2rem;
}
/* Banner section */
.banner{
  background-color: lightgrey;
  align-items: center;
}
.banner span{
  display: block;
  margin: 2rem 0;
}
.btn-cta{
  background-color: grey;
}
.btn-cta a{
  text-decoration: none;
  padding: 0.5rem 0;
  text-align: center;
  display: block;
}
.btn-cta a:link,
.btn-cta a:visited{
  color: white;
}

/* Institution section */
.institution .width-60 p{
  margin-top: -0.5rem;
}
.source{
  font-size: 0.875rem;
  font-style: italic;
  display: block;
}
.institution .width-40 p{
  margin-bottom: 0.5rem;
}
/* Thesis section */
.thesis .width-60,
.thesis .width-40{
  padding-top: 0;
}
.thesis p{
  margin-bottom: 0;
}

/* Course section */
.course{
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 30%;
}
.course .text-container{
  padding: 1rem 1rem 1.5rem 1rem;
}
.courses p{
  margin-bottom: 0;
}
/* Footer section */
footer {
  padding: 1rem 1.5rem;
}

/* Media query mobile */
@media only screen and (max-width: 579px){
  /* Universal styles */
  .width-60{
    width: 100%;
    padding: 0;
  }
  .width-40{
    width: 100%;
    padding: 2rem 1rem;
  }
  .info-container{
    flex-direction: column;
  }
  .width-40.flex-container .text-container{ /*only applies to text-containers in width-40 info-boxes, not courses */
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .info-container:last-child .text-container:last-child{ /*make margin of last text-container in info-box smaller*/
    margin-bottom: 0;
  }
  .info-container .image-container{
    max-width: 100%;
  }
  .info-container .text-container{
    max-width: 100%;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
  /* Navigation bars */
  header.mobile{
    margin-top: 1rem;
  }
  /* Banner section */
  .banner span{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  /* Thesis section */
  .video-container{
    margin-bottom: 1.5rem;
  }
  /* Course section */
  .courses .mobile{
    padding: 0 1rem 1.5rem 1rem;
  }
  .course{
    margin-bottom: 0.5rem;
    width: 100%;
    background-color: lightgrey;
  }
  .courses .text-container{
    width: 100%;
    padding: 1rem 1.5rem;
  }
  .courses h3{
    margin: 0;
  }
  /* Font styles */
  h2{
    margin-bottom: 1rem;
  }
}





/* Debug styles */
div, header, footer, body, nav{
  border: 1px solid red;
}
/* div{
  min-height: 50px;
} */
