/* Universal styles */
html{
  font-size: 16px;
  font-family: Helvetica;
}
.width-60{
  max-width: 60%;
  padding: 2rem 1.5rem;
}
.width-40{
  max-width: 40%;
}
.flex-container{
  display: flex;
  flex-wrap: no-wrap;
}
.flex-container .width-40{
  flex-direction: column;
  padding: 2rem 1.5rem;
}
.flex-container .text-container{
  flex-direction: column;
  justify-content: center;
}
.grid-structure {
  padding: 0 4.5rem 2rem 4.5rem;
  justify-content: center;
}
.info-container{
  display: inline-flex;
  padding: 1rem;
}
.info-container:first-child{
  padding-top: 0;
}
.image-container img{
  max-width: 100%;
}
.info-container .image-container{
  max-width: 35%;
}
.info-container .text-container{
  max-width: 65%;
  padding-left: 1rem;
}
header,
footer {
  justify-content: space-between;
  align-items: center;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
  margin: 2rem 0;
}
h3{
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
p{
  margin-bottom: 1.5rem;
}
strong{
  font-weight: bold;
}
text-container a:link,
text-container a:visited,{
  color: blue;
}
.text-container a{
  text-decoration: none;
}

/* Header section */
header {
  max-height: 4rem;
  padding: 0 1.5rem;
}
.company-header{
  align-items: center;
}
header span{
  text-transform: uppercase;
  max-height: 2rem;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav li{
  padding-left: 1rem;
}

/* Banner section */
.banner{
  background-color: lightgrey;
  align-items: center;
}
.banner span{
  display: block;
  margin: 32px 0;
}
.btn-cta{
  background-color: grey;
}
.btn-cta a{
  text-decoration: none;
  padding: 0.5rem 0;
  text-align: center;
  display: block;
}
.btn-cta a:link,
.btn-cta a:visited{
  color: white;
}

/* Institution section */
.institution .width-60 p{
  margin-top: -0.5rem;
}
.source{
  font-size: 0.875rem;
  font-style: italic;
}
.institution span{
  display: block;
}
.institution .width-40 p{
  margin-bottom: 0.5rem;
}







/* Debug styles */
div, header, footer, body, nav{
  border: 1px solid red;
}
/* div{
  min-height: 50px;
} */
