/* Universal styles */
.width-60{
  width: 60%;
}
.width-40{
  width: 40%;
}
.flex-container{
  display: flex;
}
.flex-container .width-40{
  flex-direction: column;
}
.info-container{
  display: inline-flex;
}


/* Debug styles */
div, header, footer, body, nav{
  border: 1px solid red;
}
div{
  min-height: 100px;
}
